* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

#calculator {
    background-color: bisque;
    margin: 0 auto;
    margin-top: 200px;
    padding: 0 25px;
    font-size: ;
}