* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


#calculator {
    background-color: gray;
    border: 1px black solid;
    /* display: flex; */
    /* justify-content: space-around; */
}