* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


#calculator {
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-color: gray;
    border: 1px black solid;
    margin-left: 35%;
    margin-top: 50px;
}


table tr td input{
    border-radius: 30px;
    padding: 20px 40px;
    color: black;
    
}