* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

#calculator {
    background-color: bisque;
    margin: 0 auto;
    margin-top: 200px;
    padding: 0 80px;
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: spac;
}