* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

#calculator {
    background-color: bisque;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 70px;
    width: 400px;
    height: 500px;
   
}

table tr td input{
    font-family: sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

input[type = button] {
    cursor: pointer;
}

#btn {
    color: red;
    background-color: aqua;
}