* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

#calculator {
    background-color: bisque;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 0 80px 80px;
    font-size: 50px;
}

table td tr input {
        fo
}