* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


#calculator {
    width: 400px;
    height: 100%;
    background-color: gray;
    border: 1px black solid;
    margin-left: 100px;
}